[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[include]
	path = ~/Developer/dotfiles/git/user.gitconfig
[core]
	pager = less -+FX
	excludesFile = ~/Developer/dotfiles/git/.gitignore
[push]
	default = current
[pull]
	rebase = true
	ff = only
