# Configuration file
config.env

# Git user configuration
git/user.gitconfig

# Client specific configuration
zsh/corpo.profile

# vscode profile will be very similar to settings.json
vs_code/*.code-profile
